

.blog-card {
    border: solid black;
    border-radius: .25rem;
}

.card-header {
    color: white;
}

.card-header:first-child {
    border-radius: unset;
}

.blog-title {
    color: white;
}

.blog-author {
    float: right;
    font-size: medium;
}

.tech-blog {
    font-size: x-large;
    border-style: solid;
    border-color: white;
    border-width: thick;
    border-radius: .25rem;
    padding: 2px;
}

.input-text {
    color: white;
}

.post-list {
    text-align: center;
}

.delete-button {
    float: right;
}

.dashboard-name {
    text-align: center;
}